.section-projects {
  background-color: #edecec;
}

.wrapper-projects {
  max-width: 1300px;
  margin: auto;
}

.wrapper-projects h2 {
  text-align: center;

  padding-top: 30px;

  font-weight: 800;
  font-size: 40px;
  line-height: 48px;

  color: hsl(300, 92%, 23%);
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 260px;
  min-height: 300px;

  padding: 30px;
  margin: 40px;
  border-radius: 6px;

  background-color: white;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 30px;
}

@media (max-width: 600px) {
  .wrapper-projects {
    width: 100%;
  }

  .project {
    width: 100%;
    margin: 0px 0px 20px 0px;
    min-height: 420px;
    padding: 0px;
    overflow: hidden;
  }

  .project h3,
  p {
    padding: 20px;
  }

  .project-cards img {
    width: 100%;
  }
}
