.section-about {
  background: white;
  color: hsl(300, 92%, 23%);
}

.section-about h2 {
  text-align: center;
  padding: 30px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}

.container-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  padding: 30px;
}

.about-container-image-border {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 2px;
  border-radius: 100%;
  border: 3px dashed hsl(300, 92%, 23%);
  overflow: hidden;
}

.about-container-image {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  overflow: hidden;
}

.about-image {
  width: 100%;
  height: 100%;
}

.about-author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.about-author p {
  text-align: justify;
}
