.wrapper {
  background-color: hsl(300, 92%, 23%);
  padding: 30px;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  min-height: 500px;
  margin: auto;
  color: white;
}

.about span,
h1 {
  font-weight: 800;
  text-transform: initial;
  color: white;
}

.about span {
  font-size: 1.125rem;
}

.about h1 {
  font-size: 2rem;
}

.about p {
  color: white;
  margin-top: 30px;
  padding: 0px;
  max-width: 610px;
}

@media (max-width: 913px) {
  .wrapper {
    max-width: 100%;
    width: 100%;
  }

  .about {
    width: 100%;
    padding: 30px;
  }

  .wrapper-text {
    width: 100%;
    text-align: center;
  }

  .wrapper-image {
    display: none;
  }
}
