.section-contact {
  padding-top: 30px;
}

.section-contact h2 {
  text-align: center;
  padding-top: 30px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: hsl(300, 92%, 23%);
}

.form-container {
  display: flex;
  padding: 30px;
}

.form-contact {
  max-width: 100%;
  margin: auto;
}

.form-contact label,
.form-contact input,
.form-contact textarea {
  display: flex;
  width: 700px;
  height: 50px;
  font-weight: 700;
  color: hsl(300, 92%, 23%);
}

.form-contact label {
  padding-top: 10px;
}

.form-contact input,
.form-contact textarea {
  padding: 5px;
  margin-bottom: 40px;
  border-radius: 8px;
  border: 1px solid hsl(300, 92%, 23%);
}

.form-contact textarea,
input {
  padding: 5px;
  height: 196px;
}

.section-contact .form-button {
  display: flex;
  justify-content: flex-end;
}

.form-contact button {
  width: 313px;
  height: 45px;
  font-weight: 700;
  margin-bottom: 60px;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  background: hsl(300, 92%, 23%);
  color: #fff;
  border-radius: 5px;
  border: 1px solid hsl(300, 92%, 23%);
}

#submit:hover {
  background: hsl(300, 92%, 23%);
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px hsl(300, 92%, 23%), 0 0 25px hsl(300, 92%, 23%),
    0 0 50px hsl(300, 92%, 23%), 0 0 100px hsl(300, 92%, 23%);
}

@media (max-width: 1025px) {
  /* .form-container {
    display: flex;
    flex-direction: column;
  } */
  
  .form-contact {
    max-width: 100%;
    width: 100%;
    padding: 30px;
  }

  .form-contact label,
  .form-contact input,
  .form-contact textarea {
    width: 100% !important;
  }

  .form-contact button {
    width: 100%;
  }
}
