.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  max-width: 1300px;
  margin: auto;
}

.contact h2 {
  text-align: center;

  padding-top: 30px;

  font-weight: 800;
  font-size: 40px;
  line-height: 48px;

  color: hsl(300, 92%, 23%);
}

.form label,
.form input,
.form textarea {
  display: flex;
  width: 1164px;
  height: 50px;
  font-weight: 700;

  color: hsl(300, 92%, 23%);
}

.form label {
  padding-top: 10px;
}

.input {
  padding: 10px;
  margin-bottom: 40px;

  border-radius: 8px;
  border: 1px solid hsl(300, 92%, 23%);
}

.form textarea {
  height: 196px;
}

.form button {
  width: 313px;
  height: 45px;
  font-weight: 700;

  margin-left: 859px;
  margin-bottom: 60px;

  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;

  background: hsl(300, 92%, 23%);
  color: #fff;
  border-radius: 5px;
  border: 1px solid hsl(300, 92%, 23%);
}

#submit:hover {
  background: hsl(300, 92%, 23%);
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px hsl(300, 92%, 23%), 0 0 25px hsl(300, 92%, 23%),
    0 0 50px hsl(300, 92%, 23%), 0 0 100px hsl(300, 92%, 23%);
}
