.navigation {
  display: flex;
  height: 80px;
  position: relative;
  padding: 0.5rem 2rem;
  background-color: hsl(300, 92%, 23%);
  box-shadow: 0 2px rgba(9, 9, 9, 0.23);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1300px;
  width: 100%;
}

.tags {
  color: white;
  font-size: 1.3rem;
  font-weight:bold;
  margin-left: 10px;
  animation: neon 5s infinite;
}

.brand-name {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  animation: neon 5s infinite;
}

@keyframes neon {
  0%,
  39%,
  41%,
  59%,
  61%,
  100% {
    text-shadow: white 0 0 12px, #ff3aad 0 0 24px, #ff3aad 0 0 36px;
  }
  40%,
  60% {
    text-shadow: none;
  }
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: hsl(300, 92%, 23%);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: hsl(300, 92%, 23%);
}

.navigation-menu ul {
  display: flex;
  font-weight: 800;
  padding: 0;
}

.navigation-menu li {
  margin: 0 1rem;
  list-style-type: none;
}

.navigation-menu li a {
  display: block;
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #dda0dd;
  border-radius: 20px;
}

.navigation-menu li a:hover {
  background-color: #dda0dd;
  transition: all 0.5s ease 0s;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    height: calc(100vh - 77px);
    background-color: hsl(300, 92%, 23%);
    border-top: 1px solid black;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: white;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #dda0dd;
  }
}
