.section-courses {
  background: hsl(300, 92%, 23%);
}

.wrapper-courses {
  max-width: 1300px;
  margin: auto;
}

.wrapper-courses h2 {
  color: white;
  text-align: center;

  padding-top: 30px;

  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}

.courses-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 260px;
  min-height: 300px;

  padding: 30px;
  margin: 40px;
  border-radius: 6px;

  background-color: white;
}

@media (max-width:600px) {
  .cards {
    width: 100%;
    margin: 0px 0px 20px 0px;
    min-height: 420px;
  }
  .wrapper-courses {
    width: 100%;
  }
}
