.section-courses {
  background: hsl(300, 92%, 23%);
}

.wrapper-courses {
  max-width: 1300px;
  margin: auto;
}

.wrapper-courses h2 {
  color: white;
  text-align: center;
  padding-top: 30px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}

.courses-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 260px;
  min-height: 300px;
  margin: 20px;
  border-radius: 6px;
  background-color: white;
}

.cards a {
  width: 100%;
}

.cards-image {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.cards h3,
p {
  padding: 14px; 
}

@media (max-width: 600px) {
  .cards {
    width: 100%;
    margin: 0px 0px 20px 0px;
    min-height: 420px;
  }

  .wrapper-courses {
    width: 100%;
  }

  .cards p {
    padding: 14px;
  }
}
