.courses {
  background: hsl(300, 92%, 23%);
}

.courses h2 {
  color: white;
  text-align: center;

  padding-top: 30px;

  font-weight: 800;
  font-size: 40px;
  line-height: 48px;

  color: hsl(300, 92%, 23%);
}

.courses-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 260px;
  min-height: 300px;

  padding: 30px;
  margin: 40px;
  border-radius: 6px;

  background-color: white;
}
