.footer {
  padding: 30px;
}

.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  height: 100px;
  padding: 20px 10px;
  margin: auto;
}

.footer h2 {
  padding-top: 20px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: white;
  text-align: center;
}

.svg-icon a {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.footer-text {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  color: white;
  font-weight: 600;
}

@media (max-width: 950px) {
  .footer {
    max-width: 100%;
    width: 100%;
  }

  .social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .svg-icon {
    width: 35px;
  }
}
