.tech {
  padding: 50px;
}

.tech h3 {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: hsl(300, 92%, 23%);
}

.tech-icons {
  display: flex;
  justify-content: space-evenly;
  max-width: 1300px;
  margin: auto;
  padding-top: 30px;
}

.icons {
  width: 80px;
  height: 80px;
}

@media (max-width: 600px) {
  .tech-icons {
    max-width: 100%;
  }

  .tech h3 {
    font-size: 30px;
  }

  .icons {
    width: 50px;
    height: 50px;
  }
}
