.tech h4 {
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  color: hsl(300, 92%, 23%);
  padding: 30px 0px;
}

.tech-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icons {
  width: 80px;
  height: 80px;
}

@media (max-width: 600px) {
  .tech-icons {
    max-width: 100%;
  }

  .tech h3 {
    font-size: 30px;
  }

  .icons {
    width: 50px;
    height: 50px;
  }
}
