/***********GERAL***********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, 
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
}

:root {
  --primary-color: hsl(300, 92%, 23%);
  --color-name: hsl(0, 41%, 96%);
  --background-color: hsl(0, 2%, 85%);
  --background-light-gray: #EDECEC;
}

.wrapper,
.about,
.tech,
.courses,
.courses-cards,
.projects,
.project {
  max-width: 1300px;
  margin: auto;
}

.wrapper h2,
.courses h2,
.projects h2 {
  text-align: center;

  padding-top: 30px;

  font-weight: 800;
  font-size: 40px;
  line-height: 48px;

  color: var(--primary-color);
}

.tech-icons,
.projects {
  background-color: var(--background-light-gray);
}


/***********MENU/NAVEGAÇÃO***********/

.navigation {
  background: var(--primary-color);
}

nav {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav p {
  margin-left: 50px;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;

  color: var(--color-name)
}

nav ul {
  display: flex;

  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;

  color: white;
}

nav ul li {
  margin: 40px;
}

/***********SECAO SOBRE***********/

.wrapper {
  padding: 0px 30px;
  background: white;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about p  {
  width: 50%;
  color: var(--primary-color);
}

/***********SECAO TECH ICONS***********/

.tech-icons {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.icons {
  width: 120px;
  height: 120px;
}

/***********SECAO CURSOS E PROJETOS***********/

.courses {
  background-color: var(--primary-color);
}

.courses h2 {
  color: white;
}

.courses-cards,
.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 30px;
}

.cards,
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 260px;
  min-height: 300px;
  
  padding: 30px;
  margin: 40px;
  border-radius: 6px;

  background-color: white;
}
