* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Mono", monospace;
}

:root {
  --primary-color: hsl(300, 92%, 23%);
  --color-name: hsl(0, 41%, 96%);
  --background-color: hsl(0, 2%, 85%);
  --background-light-gray: #edecec;
}
