/***********GERAL***********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, 
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
}

:root {
  --primary-color: hsl(300, 92%, 23%);
  --color-name: hsl(0, 41%, 96%);
  --background-color: hsl(0, 2%, 85%);
  --background-light-gray: #EDECEC;
}

.wrapper,
.tech,
.courses,
.projects,
.contact {
  max-width: 1300px;
  margin: auto;
}

.wrapper h2,
.courses h2,
.projects h2,
.contact h2 {
  text-align: center;

  padding-top: 30px;

  font-weight: 800;
  font-size: 40px;
  line-height: 48px;

  color: var(--primary-color);
}

.wrapper,
.contact {
  background-color: white;

}
.tech-icons,
.projects {
  background-color: var(--background-light-gray);
}

.navigation,
.courses,
.footer {
  background: var(--primary-color);
}



/***********MENU/NAVEGAÇÃO***********/

nav {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav p {
  margin-left: 50px;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;

  color: var(--color-name)
}

nav ul {
  display: flex;

  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;

  color: white;
}

nav ul li {
  margin: 40px;
}

/***********SECAO SOBRE***********/

.wrapper {
  display: flex;
  flex-direction: column;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about p  {
  color: var(--primary-color);
  min-width: 150px;
}

/***********SECAO TECH ICONS***********/

.tech-icons {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.icons {
  width: 120px;
  height: 120px;
}

/***********SECAO CURSOS E PROJETOS***********/

.courses h2 {
  color: white;
}

.courses-cards,
.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 30px;
}

.cards,
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 260px;
  min-height: 300px;
  
  padding: 30px;
  margin: 40px;
  border-radius: 6px;

  background-color: white;
}

/***********SECAO FORMULARIO***********/

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.form textarea {
  height: 196px;
}

.label,
.input {
  display: flex;
  color: var(--primary-color);

  width: 1164px;
  height: 50px;
  font-weight: 700;
}

.label {
  padding-top: 10px;
}

.input {
  padding: 10px;
  margin-bottom: 40px;

  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.form button {
  width: 313px;
  height: 45px;
  font-weight: 700;

  border-radius: 8px;
  border: 1px solid;

  background-color: var(--primary-color);
  color: #FFFFFF;

  margin-left: 859px;
  margin-bottom: 60px;
}

/***********FOOTER***********/

.footer {
  display: flex;
  justify-content: center;
 
}
.social-links {
  display: flex;
  flex-direction: row;
  
  color: white;
}

.social-links h2 {
  margin-bottom: 20px;
}